server:
  port: 9092

spring:
  application:
    name: legisForge
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/legisForge}
    username: ${JDBC_DATABASE_USERNAME:postgres}
    password: ${JDBC_DATABASE_PASSWORD:rashy0207}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
        types:
          print:
            banner: false
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: legisForge
            client-secret: QboksoFkHEup2qXBJAbrXjPuwuPdYRSV
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: https://ngcloak-production.up.railway.app/realms/legisForge
            user-name-attribute: preferred_username
      resourceserver:
        jwt:
          issuer-uri: https://ngcloak-production.up.railway.app/realms/legisForge

keycloak:
  client-id: legisForge
  client-secret: QboksoFkHEup2qXBJAbrXjPuwuPdYRSV
  realm: legisForge
  base-url: https://ngcloak-production.up.railway.app
